<div>
    <h2 data-translate="nbmonlineApp.news.home.title">News</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="news.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="nbmonlineApp.news.home.createLabel">
                        Create new News
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="nbmonlineApp.news.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="nbmonlineApp.news.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publishDate"><span data-translate="nbmonlineApp.news.publishDate">Publish Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isActive"><span data-translate="nbmonlineApp.news.isActive">Is Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isDeleted"><span data-translate="nbmonlineApp.news.isDeleted">Is Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="news in vm.news track by news.id">
                    <td><a ui-sref="news-detail({id:news.id})">{{news.id}}</a></td>
                    <td>{{news.title}}</td>
                    <td>{{news.description}}</td>
                    <td>{{news.publishDate | date:'medium'}}</td>
                    <td>{{news.isActive}}</td>
                    <td>{{news.isDeleted}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="news-detail({id:news.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news.edit({id:news.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news.delete({id:news.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
