
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubTenderLabel" data-translate="nbmonlineApp.subTender.home.createOrEditLabel">Create or edit a Sub Tender</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subTender.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subTender.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.subTenderName" for="field_subTenderName">Sub Tender Name</label>
            <input type="text" class="form-control" name="subTenderName" id="field_subTenderName"
                    ng-model="vm.subTender.subTenderName"
                    required/>
            <div ng-show="editForm.subTenderName.$invalid">
                <p class="help-block"
                    ng-show="editForm.subTenderName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.publishDate" for="field_publishDate">Publish Date</label>
                <div class="input-group">
                    <input id="field_publishDate" type="text" class="form-control" name="publishDate" datetime-picker="{{dateformat}}" ng-model="vm.subTender.publishDate" is-open="vm.datePickerOpenStatus.publishDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('publishDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.publishDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.publishDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.publishDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.submitDate" for="field_submitDate">Submit Date</label>
                <div class="input-group">
                    <input id="field_submitDate" type="text" class="form-control" name="submitDate" datetime-picker="{{dateformat}}" ng-model="vm.subTender.submitDate" is-open="vm.datePickerOpenStatus.submitDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('submitDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.submitDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.submitDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.submitDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.subTender.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.endDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.endDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.subTenderFilePath" for="field_subTenderFilePath">Sub Tender File Path</label>
            <input type="text" class="form-control" name="subTenderFilePath" id="field_subTenderFilePath"
                    ng-model="vm.subTender.subTenderFilePath"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setSubTenderFile($file, vm.subTender)">
            <label class="control-label" data-translate="nbmonlineApp.subTender.subTenderFile" for="field_subTenderFile">Sub Tender File</label>
            <div>
                <div ng-if="vm.subTender.subTenderFile" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.subTender.subTenderFileContentType, vm.subTender.subTenderFile)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.subTender.subTenderFileContentType}}, {{vm.byteSize(vm.subTender.subTenderFile)}}</span>
                    <button type="button" ng-click="vm.subTender.subTenderFile=null;vm.subTender.subTenderFileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setSubTenderFile($file, vm.subTender)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="subTenderFile" id="field_subTenderFile"
                    ng-model="vm.subTender.subTenderFile"
                    required/>
            <input type="hidden" class="form-control" name="subTenderFileContentType" id="field_subTenderFileContentType"
                    ng-model="vm.subTender.subTenderFileContentType" />
            <div ng-show="editForm.subTenderFile.$invalid">
                <p class="help-block"
                    ng-show="editForm.subTenderFile.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.isActive" for="field_isActive">Is Active</label>
                <input type="checkbox" name="isActive" id="field_isActive"
                          ng-model="vm.subTender.isActive"/>
            <div ng-show="editForm.isActive.$invalid">
                <p class="help-block"
                    ng-show="editForm.isActive.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="nbmonlineApp.subTender.isDeleted" for="field_isDeleted">Is Deleted</label>
                <input type="checkbox" name="isDeleted" id="field_isDeleted"
                          ng-model="vm.subTender.isDeleted"/>
            <div ng-show="editForm.isDeleted.$invalid">
                <p class="help-block"
                    ng-show="editForm.isDeleted.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="nbmonlineApp.subTender.tender" for="field_tender">Tender</label>
            <select class="form-control" id="field_tender" name="tender" ng-model="vm.subTender.tender" ng-options="tender as tender.tenderName for tender in vm.tenders track by tender.id" required>
            </select>
        </div>
        <div ng-show="editForm.tender.$invalid">
            <p class="help-block"
                ng-show="editForm.tender.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
